<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title> PitchBlend | {{ title }}</title>
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/theme.css">    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top" style="opacity: 0.75">
    <div class="container ">
        <a href="/" class="navbar navbar-brand text-white" id="brand">
            <h4>Pitch Blend</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <svg class="toggler" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"
                height="20px">
                <g>
                    <g>
                        <g>
                            <circle cx="256" cy="256" r="64"></circle>
                            <circle cx="256" cy="448" r="64"></circle>
                            <circle cx="256" cy="64" r="64"></circle>
                        </g>
                    </g>
                </g>
            </svg>

        </button>
        <div class="collapse navbar-collapse justify-content-right" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link text-white">Home</a>
                </li>
                @if(!auth)
                <li class="nav-item">
                    <a href="/login" class="nav-link text-white">Log In</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link text-white">Sign Up</a>
                </li>
                @else
                <li class="nav-item">
                    <a href="/blogs/posts" class="nav-link text-white">Posts</a>
                </li>
                @endif
            </ul>
        </div>
    </div>
</nav>
<main>
  @!section('content')
</main>
  <script src="/libraries/jquery.js"></script>
  <script src="/libraries/bootstrap.js"></script>
  <script src="/libraries/popper.js"></script>
  <script src="/libraries/all.min.js"></script>
  <script type="text/javascript" src="/js/functions.js"></script>

  <script type="text/javascript">
  var animLoc = document.getElementById('s-name')
  function bounce() {
    if (animLoc.classList.contains("bounceIn")) {
      animLoc.classList.remove("bounceIn")
    } else {
      animLoc.classList.add("bounceIn")
    }
  }

  setInterval(bounce, 2000)
  </script>
</body>
</html>
